
body{
    margin: 0;
    padding: 20px;
    background-color: #264768;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
 
}



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #5defef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}