
.dropdown-menu{
    background-color: var(--bg-card);
    border:none;
}

.dropdown-item{
    color: var(--text-primary);
}

.dropdown-item:hover{
    background-color: var(--hover-color);
    color:white;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle.show{

    color: var(--text-primary) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}


/* Sacar borde azul del click */
.dropdown-toggle:focus{
    outline:none;
}

/* Productos */

.categoria-card{
    cursor:pointer;
    background-color:var(--bg-card) !important;
    color:var(--text-primary);

    border:1px solid rgba(255,255,255,.06);

    transition:
    transform .3s ease,
    box-shadow .3s ease;
}

.categoria-card .card-body{
    background-color:transparent;
}

.categoria-card .card-text{
    color:var(--text-secondary);
}

.categoria-card .card-title{
    color:var(--text-primary);
}

.categoria-card:hover{

    transform:
    translateY(-4px)
    scale(1.03);

    box-shadow:
    0 .5rem 1rem .25rem rgba(0,0,0,.25);
}

h2{
    color:var(--text-light);
}

.card-producto{

    height:100%;
    width:80%;
    margin:10px auto;

    background-color:var(--bg-card);

    color:var(--text-primary);

    border:1px solid rgba(255,255,255,.06);

}

.imagen-producto{

    height:320px;
    width:100%;

    object-fit:contain;
    padding:10px;
}

.descripcion-producto{
    height:100px;
    overflow:hidden;

    color:var(--text-secondary);
}

.precio-producto{
    text-align:center;
     color:var(--text-primary);
}

.btn-carrito{
    align-self:center;
}


.page-item .page-link{
    background-color: var(--bg-pagination);
    color: var(--text-pagination);
    border: 1px solid rgba(255,255,255,0.1);
}

.page-item.active .page-link{
    background-color: var(--bg-pagination-active);
    color: var(--text-pagination-active);
    border-color: transparent;
}

.page-item.disabled .page-link{
    background-color: var(--bg-pagination);
    color: var(--text-secondary);
    opacity: 0.5;
    pointer-events: none;
}

.page-item .page-link:hover{
    background-color: var(--hover-color);
    color: white;
}

@media (max-width: 991px) {

  .navbar-nav {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

}