
/* Dropdown */

.dropdown{
    position:relative;
    z-index:10;
}

.submenu{

    display:none;
    position:absolute;

    top:100%;
    left:0;

    min-width:180px;

    background:var(--bg-submenu);

    box-shadow:var(--shadow);

    margin:0;
    padding:0;
}

.submenu li{
    width:100%;
}

.submenu button{
    width:100%;
    text-align:left;
    padding:10px 15px;
}

.dropdown:hover .submenu{
    display:block;
}


/* Productos */

.categoria-card{
    cursor:pointer;
    background-color:var(--bg-card) !important;
    color:var(--text-primary);

    border:1px solid rgba(255,255,255,.06);

    transition:
    transform .3s ease,
    box-shadow .3s ease;
}

.categoria-card .card-body{
    background-color:transparent;
}

.categoria-card .card-text{
    color:var(--text-secondary);
}

.categoria-card .card-title{
    color:var(--text-primary);
}

.categoria-card:hover{

    transform:
    translateY(-4px)
    scale(1.03);

    box-shadow:
    0 .5rem 1rem .25rem rgba(0,0,0,.25);
}

h2{
    color:var(--text-light);
}

.card-producto{

    height:100%;
    width:80%;
    margin:10px auto;

    background-color:var(--bg-card);

    color:var(--text-primary);

    border:1px solid rgba(255,255,255,.06);

}

.imagen-producto{

    height:320px;
    width:100%;

    object-fit:contain;
    padding:10px;
}

.descripcion-producto{
    height:100px;
    overflow:hidden;

    color:var(--text-secondary);
}

.precio-producto{
    text-align:center;
     color:var(--text-primary);
}

.btn-carrito{
    align-self:center;
}


.page-item .page-link{
    background-color: var(--bg-pagination);
    color: var(--text-pagination);
    border: 1px solid rgba(255,255,255,0.1);
}

.page-item.active .page-link{
    background-color: var(--bg-pagination-active);
    color: var(--text-pagination-active);
    border-color: transparent;
}

.page-item.disabled .page-link{
    background-color: var(--bg-pagination);
    color: var(--text-secondary);
    opacity: 0.5;
    pointer-events: none;
}

.page-item .page-link:hover{
    background-color: var(--hover-color);
    color: white;
}